<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script type="module" src="./setup.js"></script>
    <link rel="stylesheet" href="../css/normalize.css" />
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Almendra+SC&display=swap');

      html {
        font-family: 'Almendra SC', serif;
        height: 100vh;
        width: 100vw;
        background-color: #374151;
      }
    </style>
  </head>

  <body>
    <div id="app">
      <app-header></app-header>
    </div>
  </body>
</html>
